In [1]:
import astropy.units as units
import astropy.constants as constants
import matplotlib.pyplot as plt
import sympy as sym
import numpy as np 
import pandas as pd
import plotly.express as px
import plotly.figure_factory as ff
import plotly.graph_objects as go
import requests
import re
import subprocess
import urllib.request
from sympy.abc import *
# the service URL
livechart = "https://nds.iaea.org/relnsd/v0/data?"
#%matplotlib notebook #incompatible with mpmath

This function queries the International Atomic Energy Agency's Nuclear Data Services (https://nds.iaea.org/).

API: https://nds.iaea.org/relnsd/vcharthtml/api_v0_guide.html 

Example Jupyter Notebook for automating data downloads: https://www-nds.iaea.org/relnsd/vcharthtml/api_v0_notebook.html

In [2]:
def lc_read_csv(url):
    '''
    Query the livechart service and return a pandas dataframe. 
    format: lc_read_csv(livechart + "fields=decay_rads&nuclides=" + "16O" + "&rad_types=bm")
    '''
    req = urllib.request.Request(url)
    req.add_header('User-Agent', 'Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:77.0) Gecko/20100101 Firefox/77.0')
    return pd.read_csv(urllib.request.urlopen(req))

 This function takes a dataframe of parent nuclides and returns a list of dataframes of daughter nuclides

In [3]:
def get_daughter_df(parent_df):
    '''
    This function takes a dataframe of parent nuclides and returns a 
    list of dataframes of daughter nuclides
    '''
    daughter_nucleus= [str(int(parent_df['d_z'][row]) + int(parent_df['d_n'][row])) + 
                    ''.join(parent_df['d_symbol'][row]) for row in range(parent_df.shape[0])]
    daughter_df = [lc_read_csv(livechart + "fields=decay_rads&nuclides=" + daughter_nucleus[row].lower() 
                    + "&rad_types=bm") for row in range(parent_df.shape[0])]
    daughter_df = pd.concat(daughter_df)
    return daughter_df

It appears that when queried for stable nuclides, livechart return a 0x1 dataframe with only the number 0

In [4]:
#It appears that when queried for stable nuclides, livechart return a 0x1 dataframe with only the number 0
lc_read_csv(livechart + "fields=decay_rads&nuclides=" + "16O" + "&rad_types=bm")

Empty DataFrame
Columns: [0]
Index: []

In [5]:
df = lc_read_csv(livechart + "fields=decay_rads&nuclides=42ar&rad_types=bm")
df.iloc[ : , : 15]

,mean_energy,unc_me,intensity_beta,unc_ib,daughter_level_energy,max_energy,unc_me.1,log_ft,unc_lf,transition_type,anti_nu_mean_energy,unc_ame,p_z,p_n,p_symbol
0,233,16,100,0,0,599,6,9.32,0.17,1U,367,3.6,18,24,Ar

In [6]:
df.iloc[ : , 15: ]

,p_energy_shift,p_energy,unc_pe,jp,half_life,operator_hl,unc_hl,unit_hl,half_life_sec,unc_hls,...,decay_%,unc_d,q,unc_q,d_z,d_n,d_symbol,ensdf_publication_cut-off,ensdf_authors,Extraction_date
0,,0,,0+,32.9,,11,Y,1.038223e+09,3.471262e+07,...,100,,599,6,19,23,K,31-May-2016,JUN CHEN{+#} AND BALRAJ SINGH,2022-05-07

In [7]:
float(df['mean_energy']) * float(df['intensity_beta']) / 100

233.0

In [8]:
daughter_nucleus = str(int(df['d_z']) + int(df['d_n'])) + ''.join(df['d_symbol'])
#make all letters lowercase 
daughter_nucleus.lower()

'42k'

In [9]:
daughter_df = lc_read_csv(livechart + "fields=decay_rads&nuclides=" + daughter_nucleus.lower() + "&rad_types=bm")
daughter_df.iloc[ : , : 15]

,mean_energy,unc_me,intensity_beta,unc_ib,daughter_level_energy,max_energy,unc_me.1,log_ft,unc_lf,transition_type,anti_nu_mean_energy,unc_ame,p_z,p_n,p_symbol
0,21.41,0.21,0.07,0.01,3445.4,79.80,0.70,4.9800,0.0700,A,58.60,0.60,19,23,K
1,415.41,0.2,0.05,0.01,2424.3,1100.90,0.40,9.0500,0.0900,1NU,686.70,0.60,19,23,K
2,702.95,0.2,0.34,0.03,1837.2,1688.00,0.40,9.9200,0.0400,1U,986.49,0.36,19,23,K
3,824.32,0.17,17.64,0.09,1524.6,2000.60,0.30,7.5501,0.0023,1NU,1177.16,0.25,19,23,K
4,1565.86,,81.90,0.09,0.0,3525.22,0.18,9.4768,0.0006,1U,1961.70,0.09,19,23,K

In [10]:
daughter_df.iloc[ : , 15: ]

,p_energy_shift,p_energy,unc_pe,jp,half_life,operator_hl,unc_hl,unit_hl,half_life_sec,unc_hls,...,decay_%,unc_d,q,unc_q,d_z,d_n,d_symbol,ensdf_publication_cut-off,ensdf_authors,Extraction_date
0,,0,,2-,12.355,,7,h,44478,25.2,...,100,,3525.26,18,20,22,Ca,31-May-2016,JUN CHEN{+#} AND BALRAJ SINGH,2022-05-07
1,,0,,2-,12.355,,7,h,44478,25.2,...,100,,3525.26,18,20,22,Ca,31-May-2016,JUN CHEN{+#} AND BALRAJ SINGH,2022-05-07
2,,0,,2-,12.355,,7,h,44478,25.2,...,100,,3525.26,18,20,22,Ca,31-May-2016,JUN CHEN{+#} AND BALRAJ SINGH,2022-05-07
3,,0,,2-,12.355,,7,h,44478,25.2,...,100,,3525.26,18,20,22,Ca,31-May-2016,JUN CHEN{+#} AND BALRAJ SINGH,2022-05-07
4,,0,,2-,12.355,,7,h,44478,25.2,...,100,,3525.26,18,20,22,Ca,31-May-2016,JUN CHEN{+#} AND BALRAJ SINGH,2022-05-07

In [11]:
daughter_df = get_daughter_df(df)

In [12]:
third_gen_df = get_daughter_df(daughter_df)
third_gen_df

Empty DataFrame
Columns: [0]
Index: []

Where there 1 is one mole of the 0-th generation nucleus at $t=0$ there are $m_i$ moles of the $i-th$ generation nucleus at time $t$. We assume that the $i-th$ generation nucleus has a measurable e-folding time of $\lambda_i$. 
\begin{equation}
\begin{split}
m_{i} = \frac{1-e^{ta}}{a\lambda_0}\\
a = \sum_{k=0}^{i}{-\lambda_{i}^{-1}}
\end{split}
\end{equation}

In [18]:
delta_new, m_0, lambda_m, lambda_d = sym.symbols('\delta_{new} m_0 lambda_m lambda_delta', 
                positive = True, real = True)
delta_tau, tau = sym.symbols('delta_{tau} tau', positive = True, real = True)
lambda_t = sym.symbols('lambda')
#the probability a nucleus with a given e-folding time l after a time t
p = sym.exp(-1 * tau / lambda_d)
#the daughter nuclei being instantaneously created at a given time t
delta_new = m_0 * sym.exp(-1 * tau / lambda_m) / lambda_m
#daughter nuclei as a function of time
delta_tau = m_0 * lambda_d * (sym.exp(-1 * tau * (1/lambda_d + 1/lambda_m)) - 1) / (lambda_m + lambda_d)
delta_tau = sym.collect(delta_tau, t)

In [19]:
attempt = sym.simplify(
    sym.integrate(delta_new * p, (tau, 0, t)))
attempt

-lambda_delta*m_0*exp(-t/lambda_m - t/lambda_delta)/(lambda_delta + lambda_m) + lambda_delta*m_0/(lambda_delta + lambda_m)

In [24]:
attempt = sym.integrate(delta_new * p, (tau, 0, t))
eval_attempt = sym.lambdify(([t, lambda_m, lambda_d, m_0]), attempt, )
#specify the implementation of the function to be consistent with the input types
eval_attempt(.1, 1, 1, 1)

0.09063462346100915

In [ ]:
evaluate_delta_tau = sym.lambdify(([tau, lambda_m, lambda_d, m_0]), delta_tau)
evaluate_delta_tau(0, 1, 1, 1) #should be 0

0.0

In [ ]:
evaluate_delta_tau(1, 32.9, 12 * units.h.to(units.year), 1)

0.029896242480243584

In [ ]:
p_t = 1 - sym.exp(-1 * t / lambda_t)
prob_not_decay = sym.lambdify(([t, lambda_t]), p_t)
def daughter_nucleus_abundance(t, lambda_d, parent_initial_mol, parent_nucleus_decay):
    m_0 = parent_initial_mol
    p = 1 - sym.exp(-1 * t / lambda_d)
    delta_tau = sym.integrate(p * parent_nucleus_decay, (t, 0, t))
    evaluate_delta_tau = sym.lambdify(([tau, lambda_m, lambda_d, m_0]), delta_tau, 'numpy')
    t, lambda_d, parent_initial_mol = np.float(t), np.float(lambda_d), np.float(parent_initial_mol)
    return evaluate_delta_tau(t, lambda_d, m_0, parent_nucleus_decay)